---
import type { InsightInfo, TopicInfo } from "../content/common/types";
import InsightItem from "./InsightItem.astro";

const { list, type } = Astro.props as {
  list: (InsightInfo & {
    topics: TopicInfo[];
  })[];
  type: "GOOD" | "BAD";
};
---

<ul class="mb-2">
  {
    list.length > 0 &&
      list.map((item) => (
        <li>
          <InsightItem item={item} topics={item.topics} />
        </li>
      ))
  }
  {
    !list.length && (
      <li class={type === "GOOD" ? "text-bad" : "text-good"}>
        {type === "GOOD"
          ? "Oh no! No good insights found for this country."
          : "Good news! No bad insights found for this country."}
      </li>
    )
  }
</ul>
