---
import "../styles/global.css";
const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="BestIn.world" />
    <meta name="generator" content={Astro.generator} />
    <title>{title + " - BestIn.world"}</title>
    <meta name="description" content={description || "BestIn.world"} />
    <link
      rel="canonical"
      href={"https://bestin.world" + (canonical ? canonical : "")}
    />
  </head>
  <body>
    <header>
      <div class="max-w-[64rem] mx-auto flex items-center justify-between px-4">
        <nav>
          <ul class="flex gap-4">
            <li>
              <a
                href="/"
                class="flex items-center gap-2 text-lg font-bold text-gray-900 hover:text-blue-600 transition-colors duration-200"
                ><img
                  src="/favicon.svg"
                  alt="BestIn.world"
                  class="h-8 w-8 inline-block"
                  loading="lazy"
                />BestIn.world</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>© {new Date().getFullYear()} BestIn.world</p>
      <p>
        <a
          class="a"
          href="https://github.com/mitica/bestin.world"
          target="_blank"
          rel="noopener noreferrer">Made with</a
        > ❤️ in Moldova
      </p>
    </footer>
  </body>
</html>
